
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: rgb(147,138,59);
  background: rgb(81,69,6);
  /* background: linear-gradient(180deg, rgba(61, 54, 14, 0.836) 3%, rgb(66, 62, 22) 40%); */
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
}
.App {
  text-align: center;
}
